@media (min-width: 0em){
body{
	font-family: sans-serif;
}
li{
	list-style-type:none;
}
img.profilepic{
	height: 13.20325em;
	width: 23.46875em;
}
a.navigation{
	display: inline-block;
	background-color: #57F;
	color: #000;
	padding: .25em .5em;
}
#navigation{
	list-style-type: none;
	display: inline-block;
}
#header{
	background-color: black;
	padding: 1em 1em 1em 1em;
}
h1{
	color: white;
}
}

@media (min-width: 50em){
body{
	background-color: yellow;
}
}