/* Move background color to html so it fills the entire viewport; and remove a set height from body; that's just asking for trouble!*/

html {
	background-color: #7F462C;
}
body{
	font-family: sans-serif;
	text-align: center;
	padding: 2px 0 1px 0;
}
li{
	list-style-type:none;
}
.navigation,.eml,.lkd{
	background-color: #2D6580;
	color: white;
	font-size:22px;
	padding: 0.5em 2em 0.5em 0.5em;
	float: left;
}
nav{
	width:100%;
	float: left;
	padding: 0em 50em 0em 0em;
}
header{
	text-decoration: none;
	color: white;
	font-size: 52px;
}
h2{
	text-decoration: none;
	color: #7F462C;
}
a{
	text-decoration: none;
	color: white;
}
aside{
	opacity: 0.9;
	font-size: 24px;
	background-color: #807E2D;
	width: 11em;
	height: 8em;
	padding: 2em 1em 1em 1em;
	color: white;
	position:relative;
	float: left;
}
#profilepic{
	float:left;
	width:100%;
	}
#resume{
	background-color: beige;
	text-align: left;
	font-size: 0.7585em; /* 15px golden*/
	line-height: 1.517em;
	padding-left: 1.5em; /* Text-indent is inherited, and should really be used only with paragraphs and other blocks of text that get a first-line indent; use padding instead. */
}
#resume li{
  padding-left: 2em;
  text-indent: -2em; /* Using a negative indent with padding makes for a hanging-indent effect */
}
#resume h2{
}
@media (min-width: 50em){
body{
	font-family: sans-serif;
}
nav{
	/* No need to float your nav; it shows up where it should in normal source order. Actually, no styles needed here at all. Don't needlessly make life harder for yourself!*/
	}
#profilepic{
	float:left;
	width:60%;
	}
}
